*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    
}
img
{
    -webkit-user-drag: none;
}
body
{
    width: 1080px;
    height: 540px;
    font-family: 'pixel_operatorbold';
    
}
.color
{
    background-color: grey;
    text-align: center;
    border-radius: 3px;
}
.container
{
    width: 1080px;
    height: 540px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    padding-top: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:"rooms chat-log users" "something msg-input users";
    justify-items: stretch;
    background-color: black;

    grid-template-columns: min-content;
    grid-template-rows: min-content;

}
.rooms
{
    height: 440px;
    width: 176px;
    grid-area: rooms;
    margin-left: 16px;
    margin-bottom: 16px;
}
.something
{
    width: 176px;
    height: 32px;
    grid-area: something;
    margin-left: 16px;
    margin-bottom: 8px;
}
.hover-btn:hover
{  
    background-color: grey;
}
.close-btn:hover
{
    background-color: brown;
}
.chat-log
{
    grid-area: chat-log;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 697px;
    height: 440px;
    max-width: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    padding-left: 10px;
    padding-right: 10px ;
}
.chat-log img
{
    width: 100%;
    height: 100%;
}
.msg-input
{
    grid-area: msg-input;
    margin-left: 8px;
    width: 697px;
    height: 32px;
}
.users
{
    grid-area: users;
    width: 144px;
    height: 488px;
}
#msg
{
    border: 0;
    background-color: rgb(65, 65, 65);
    float: left;
    width: 90%;
    height: 100%;
}
#msg:focus
{
    outline-style: none;
}
.btn:focus
{
    box-shadow: none;
}
form .btn:hover
{
    background-color: cornflowerblue;
}
form .btn:active
{
    background-color: brown;
    color: whitesmoke;
}

#msg-send
{
    border-radius: 0;
    width: 10%;
    height: 100%;
}


/* style.css inherits    */

#navbar
{
    display: block;
    height: 18px;
    background-color: #1e1e1f;
    -webkit-app-region: drag;
}
#navbar .buttons {
    float: right;
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    height: 100%;
}
#navbar .buttons .btn {
    background-color: black;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    border-radius: 0;
    height: 100%;
    width: 5px;
    text-align: center;
    padding: 2px;
    width: 30px;
    transition: 0.2s;
}
.btn {
    -webkit-app-region: no-drag;
}
.btn span svg
{
    width: 100%;
    height: 100%;
}
.btn:hover
{
    background-color: grey;
}
#close-btn:hover
{
    background-color: brown;
}
.white
{
    color: white;
}





/* Chat messages log */
.chat-messages .message {
	padding:0;
    margin-bottom: 15px;
    border-radius: 5px;
    display: block;

    background-color: #000d1a;
}
.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 0px;
}
.chat-messages .message .meta span {
    color: whitesmoke;
    user-select: text;
}
.chat-messages .message .meta span::selection
{
    background-color: black;
    color: yellowgreen;
}
.chat-messages .text
{
    padding-left: 10px;
    height: min-content;
    float: left;
    clear: both;
    background-color: cornflowerblue;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
}

.chat-messages .meta
{
    float: left;
    display: block;
    clear: both;
    padding-left: 10px;
    background-color: crimson;
}
input
{
    padding-left: 5px;
}
input::selection
{
    background-color: black;
    color: yellowgreen;
}
.chat-messages p
{
    user-select: text;
}

.chat-messages p::selection
{
    background-color: black;
    color: yellowgreen;
}