*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 1080px;
    height: 540px;
    font-family: 'pixel_operatorbold';
}
.container-fluid
{
    width: 1080px;
    height: 540px;
    margin: auto;
    padding: 16px;
    background-color: black;
}
.color
{
    background-color: grey;
    border: 1px solid black;
}
.rooms
{
    width: 176px;
    height: 440px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 28px;
}
.something
{
    margin-right: 8px;
    margin-left: 28px;
}